.container {
    border-radius:10px;
    width: 400px;
    height: 350px;
    position: relative;
    top:170px;
    background-color:rgba(17,77,96,0.3);
}

@media(max-width: 768px) {
    .container {
        height: 400px;
    }
    label {
        margin: 0 40px;
    }

}