{% extends 'book_list.html' %}
{% block title %}
    <title>编辑出版社</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/manage/">图书管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/author/">作者管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/publish/">出版社管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">待开发</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                 <div class="panel-heading">
                     <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> 出版社编辑</h3>
                 </div>
                <div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'image/background2.jpg' %});background-size: cover;background-position: center">
                  <div class="container">
                    <h1 class="display-4">欢迎来到出版社编辑</h1>
                    <p class="lead">在这里你可以更改出版社的相关信息</p>
                  </div>
                </div>
                <form action="/editpublish/{{ publish.id }}/" method="post">
                    {% csrf_token %}
                        <div class="form-inline" style="margin: 5px">
                            <label>出版社：
                                <input type="text" class="form-control" name="name" value="{{ publish.name }}">
                            </label>
                        </div>
                        <div class="form-inline" style="margin: 5px">
                            <label>地址：
                                <input type="text" class="form-control" name="address" value="{{ publish.address }}">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success" style="margin: 5px">保存修改</button>
                        {% if error %}
                            <p style="color: red">{{ error }}</p>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
